<h1><%= @question.content %></h1>

<% if @question.answers.any? %>
  <h4>Here are the answers/punchlines for this question?</h4>

  <ul>
    <%= @question.answers.each do |answer| %>
    <li>
      <%= answer.response %>
      <%= link_to "Edit", edit_question_answer_path(@)%>
    </li>
  </ul>
